{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Welcome, {{ username }}!</h2>
<h3>Featured Movies</h3>
<div class="movie-results" style="display: flex; flex-wrap: wrap; justify-content: center;">
    {% for movie in featured_movies %}
        <div class="movie-card" onclick="window.location.href='{{ url_for('movie', imdb_id=movie.imdbID) }}'">
            <img src="{{ movie.Poster }}" alt="{{ movie.Title }}">
            <h4>{{ movie.Title }} ({{ movie.Year }})</h4>
        </div>
    {% endfor %}
</div>
{% endblock %}